@import '~bootstrap/dist/css/bootstrap.min.css/';

p {
  color: cadetblue;
  text-align: center;
}
.servic,h2 {
  text-align: center;
}

a {
  color: cadetblue;
  text-decoration: none;
  font-size: 40px;
}

.sinc {
  color: grey;
}
