@import "./font_awesome";

$myColor: #eaea;
$text: center;
$Width: 300px;
$Case: uppercase;
$display: flex;
$justify: center;
$size: 1.4rem;
$size1: 1.2rem;
$nice: #eaeaea;
$body-bg: #000;
$font: "Comic Sans MS", cursive, "sans-serif";

body {
  background-color: $body-bg;
  font-family: $font;
}

h1 {
  color: $myColor;
  text-align: $text;
  text-transform: $Case;
}

img {
  width: $Width;
}

.social_container {
  display: $display;
  justify-content: $justify;
}
.social_media {
  color: $myColor;
  font-size: $size;
  margin-right: $size1;
  margin-top: $size1;
}

.social {
  display: $display;
  justify-content: $justify;
  color: cadetblue;
}
